---
layout: default
title: About
section_id: about

works:
  - image: images/engineering/engineering-1.jpg
  - image: images/engineering/engineering-7.jpg
  - image: images/engineering/engineering-3.jpg
  - image: images/engineering/engineering-2.jpg
  - image: images/engineering/engineering-6.jpg
  - image: images/engineering/engineering-4.jpg
  - image: images/engineering/engineering-5.jpg
  - image: images/engineering/engineering-8.jpg
---

<div class='full parallax' style='background-image: url(images/section-header/about-us-header.jpg); color: #fff;'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#000" tagline="Know something about our goals" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>

  <div class='row'>
    <div class="medium-2 columns">
      <img src="images/about/rocket.png" />
    </div>
    <div class='medium-10 columns'>
      <h3>Our mission</h3>
      <p>At IO Labs, our long-term goal is to build smart home solutions that will help simplify boring daily
        tasks, so you can focus on the exciting things.
      </p>
      <p>Our focus is on building usable, affordable and fun products!
      </p>
    </div>
  </div>

  <br />

  <div class='row'>
    <div class="medium-2 columns">
      <img src="images/about/bright.png" />
    </div>
    <div class="medium-10 columns">
      <br />
      <h3>Our product vision</h3>
      <p>We are currently working hard on developing user friendly and affordable solutions for automating residential
        window coverings.
      </p>
      <p>
        Stay tuned for more details!
      </p>
    </div>
  </div>

  <br />

  <div class='row'>
    <div class="medium-2 columns">
      <img src="images/about/book.png" />
    </div>
    <div class="medium-10 columns">
      <br />
      <h3>Our story</h3>
      <p>Meeting first as university classmates, then crossing paths again as colleagues in their first
        post-graduation
        jobs, our founders have developed extensive industry experience in the technology and manufacturing
        industries.
      </p>
      <p>
        Through their joint interest in technology and innovation, they have decided to combine their experiences and
        skills to help deliver usable and fun products that will help everyday life.</p>
      <p>
        Their past work experiences in user interface design, software architecture, hardware development, product
        management and data analytics will help us to bring relevant and cost-effective product features to our
        valued customers.</p>
    </div>

  </div>

  <br />
  <br />

  <div class='full' style="background-color: #eee;">
    <div class='row'>
      <div class="large-12 columns" style="text-align: center;">
        {% include section-header.html title="Our team" %}
        <div class="spacing"></div>
      </div>
    </div>
    <div class='row'>
      {% for member in site.data.members %}
      <div class='small-6 medium-3 medium-offset-2 columns'>
        <div class='mod modTeamMember' style="text-align: center;">
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
          </div>
          <h3>{{member.name}}</h3>
          <p>{{member.position}}</p>
          <ul class='socials'>
              {% for social in member.socials %}
              <li>
                <a href='{{social.link}}'>
                  <i class='fa fa-{{social.icon}}'></i>
                </a>
              </li>
              {% endfor %}
            </ul>          
          <div class='two spacing'></div>
        </div>
      </div>
      {% endfor %}
      <div class="medium-2 columns">&nbsp;</div>
    </div>
  </div>
  <br />

  <div class="full">
    <div class="row">
      <div class="large-12 columns" style="text-align: center;">
        {% include section-header.html title="Lab Snapshots" %}
        <div class="spacing"></div>
        <p>
          Take a glimpse inside some of the work being done inside our engineering labs
        </p>
        <div class="spacing"></div>
      </div>
    </div>

    <div class="mod modGallery">
      <ul class="gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        {% for work in page.works %}
        <li class="{{ work.klass }}">
          <img alt="" src="{{ work.image }}" />
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>

</div>