<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-4 medium-4 columns'>
      <h1>
        <a href='{{site.url}}/index.html'>
          <img alt="" src="{{site.url}}/images/logo-grey.png" />
        </a>
      </h1>
      <p>©2019 IO Labs. All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>

    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Important Info</h4>
        <ul>
          <li><a href="{{site.url}}/privacy.html">Privacy Policy</a></li>
          <li><a href="{{site.url}}/terms.html">Terms and Conditions</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>

    <div class='large-4 medium-4 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>Email: info@iolabs.ca</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.facebook.com/leafihome'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://www.instagram.com/leafihome/'>
            <i class='fa fa-instagram'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/leafihome'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>
        <li>
          <a href='https://www.linkedin.com/company/io-labs-inc'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>        
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>

<script>window.jQuery || document.write('<scr' + 'ipt src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"><\/sc' + 'ript>')</script>
<script>window.$kol_jquery = window.jQuery</script>
<script src="https://kickoffpages-kickofflabs.netdna-ssl.com/widgets/1.9.8/kol_bounce.js"></script>
<!--<script src='https://kickoffpages-kickofflabs.netdna-ssl.com/w/135090/273143.js'></script>-->
<script src='https://kickoffpages-kickofflabs.netdna-ssl.com/w/135090/273147.js'></script>