---
layout: default
---


<div class='full parallax' style='background-image: url({{site.url}}/images/section-header/blog-header-bg.jpg); color: #fff;'>
  <div class='two spacing'></div>
    <div class='row'>
      <div class='large-12 columns'>
        {% include section-header.html title="Updates" tagline="Follow our journey" color="#000" class="big" %}
      </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>

      {{content}}

      {% if paginator %}
        <div class="pager">
          {% if paginator.next_page %}
            {% if paginator.next_page == 1 %}
              <a href="/blog" class="older">Older Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.next_page }}" class="older">Older Entries</a>
            {% endif %}
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
              <a href="/blog" class="newer">Newer Entries</a>
            {% else %}
              <a href="/blog/page{{ paginator.previous_page }}" class="newer">Newer Entries</a>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>