<!DOCTYPE html>
<html>

  {% include head.html %}

  <head>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,300,700&display=swap" rel="stylesheet" type="text/css" >


    <link href="landing/css/fontawesome-all.css" rel="stylesheet">
    <link href="landing/css/swiper.css" rel="stylesheet">
    <link href="landing/css/magnific-popup.css" rel="stylesheet">

    <link href="landing/css/styles.css" rel="stylesheet">
  </head>

  <body class="f-topbar-fixed shrink">

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}
    
    <!-- Scripts -->
  <script src="landing/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->

  </body>

</html>